.counter {
    text-align: center;
    width: auto;
    border: 3px solid ghostwhite;
    border-radius: 5px;
    padding: 5px
}
.display-set, .button-set{
    border: 3px solid ghostwhite;
    border-radius: 5px;
    padding: 6px;
    margin: 4px;
}
.error-display{
    background: firebrick;
    color: #f2f2f2;
}
