* {

}


body {
    background: #f2f2f2;
    font-family: montserrat, sans-serif;
    font-weight: bolder;
    color: #574240;

}
.row{
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.child {
    margin: 15px;
    flex: 1 1 150px;
    flex: 0 1 150px;
}
